APP_ENV=local
SUNAT_FECHA_CORTE_INICIO=2023-01-01
SUNAT_FECHA_CORTE_FIN=
SUNAT_INBOX_DIR=data/inbox/sunat
SUNAT_PROCESSED_DIR=data/processed/sunat
SUNAT_ERROR_DIR=data/error/sunat
SUNAT_STORAGE_BACKEND=local
SUNAT_DELTA_ENABLED=true
MINIO_ENDPOINT=http://minio-api:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=nombre-del-bucket
MINIO_REGION=us-east-1
MINIO_PREFIX=landing/sunat
