APP_ENV=local
PREFECT_EXECUTION_MODE=process
PREFECT_WORK_POOL_NAME=local-pool
PREFECT_MANAGED_WORK_POOL_NAME=agro-managed-pool
PREFECT_PROCESS_WORK_POOL_NAME=agro-process-pool

PREFECT_SISAP_INTERVAL_HOURS=4
PREFECT_SISAP_MASTER_INTERVAL_HOURS=4
PREFECT_SUNAT_INTERVAL_HOURS=6
PREFECT_ENABLE_SCHEDULES=false
PREFECT_ENABLE_SISAP=true
PREFECT_ENABLE_SUNAT=true
PREFECT_SISAP_TIMEOUT_MINUTES=240
PREFECT_SUNAT_TIMEOUT_MINUTES=180

PREFECT_REPO_URL=https://github.com/AlvarezDiego26/agro-data-pipeline.git
PREFECT_REPO_BRANCH=main
PREFECT_GITHUB_USERNAME=
PREFECT_API_KEY=
PREFECT_GITHUB_ACCESS_TOKEN=
PREFECT_GITHUB_SECRET_BLOCK_NAME=github-agro-data-pipeline-token

STORAGE_BACKEND=minio
DELTA_ENABLED=true
MINIO_ENDPOINT=http://38.210.246.165:30090
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=agro-productos
MINIO_REGION=us-east-1

MINIO_PREFIX=Landing/sisap
SISAP_MINIO_PREFIX=Landing/sisap
SUNAT_MINIO_PREFIX=Landing/sunat

SISAP_CONTROL_DATASET=ingesta_control
SISAP_CONTROL_EVENTS_DATASET=ingesta_control_eventos

SISAP_ESTRATEGIA_INSTANCIACION=por_modulo
SISAP_PRODUCTOS=all
SISAP_MODULOS=volumen,precios,ciudades-mayoristas,ciudades-minoristas

SISAP_FECHA_INICIO=2016-01-01
SISAP_MODO_CARGA=incremental
SISAP_PROCEDENCIAS=all
SISAP_REGIONES=all
SISAP_MERCADOS=all

SISAP_MAX_INSTANCIAS_PARALELAS=4
SISAP_SCOPE_MAX_WORKERS=1
SISAP_SHARD_MAX_WORKERS=2
SISAP_PRODUCT_BATCH_SIZE=1
